@import '../../../styles.scss';
.banner{
    //background: transparent url('/app/graduacion2021/assets/img/banner/2.jpg') center center no-repeat;
    background: transparent url('/app/graduacion2021/assets/img/banner/4.jpg') center center no-repeat;
    background-size: contain;
    @media (max-width: 768px) {
        background-size: cover;
        }

}

.titulin{
    font-family: map-get($fonts, gotamb );
    text-transform: uppercase;
    font-size: 25px;
    color:#fff;
    display: block;
    text-align: center;
    margin-top: 7px;
}
.raya{
    position: absolute;
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      height: 4px;
      width: 400px;
      background-color: #FEB238;
      background-color: map-get($colors, menu );
      margin-top: 20px;
      
      @media (max-width: 768px) {
          width: 56%;
          top: 100%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
      }
}

.contr{
    background: map-get($colors, blackk );
    color:#fff;
    font-family: map-get($fonts, gotam);
    padding: 20px 20px;
}
.icono{
    margin-top: 50px;
    border-right: 2px solid #FEB238;
    @media (max-width: 768px) {
        border-right: 0px solid #FEB238;
        
    }
    & img{
        margin: 0 auto;
        width: 30px;
        height: 30px;
        object-fit: cover;
    }
    
}
.texto{

    margin-top: 50px;
    font-size: 20px;
    @media (max-width: 768px) {
        text-align: center;
        
    }
    & ul{
        margin-top: 50px;
        list-style: none;
      
        & li{
            margin-top: 20px;
            display: flex;
            align-content: center;
            font-weight: 700;
            @media (max-width: 768px) {
                text-align: left;
                
            }
            &::before {
                content: "O";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                color: #FEB238; /* Change the color */
                font-weight: bold; /* If you want it to be bold */
                display: inline-block; /* Needed to add space between the bullet and the text */
                width: 1em; /* Also needed for space (tweak if needed) */
                margin-left: -1em; /* Also needed for space (tweak if needed) */
                font-size: 15px;
                margin-right: .5rem;
              }
        }
    }
}