<div class="banner">
    <div class="conta">
        <span class="titulo">Orden del día</span>

        <span class="ray"></span>
    </div>

</div>

<div class="container m-t-50">
    <div class="row">
        <div class="col-10 m-auto text-center">
            <span class="titulin">
                Programa 
            </span>
            <span class="titulin"> 
                ceremonia de graduación
            </span>
            <div class="raya"></div>
        </div>
        

    </div>
</div>

<div class="container contr m-t-50">
    <div class="row d-flex align-items-center">
        <div class="col-12 col-md-1 col-sm-1 col-xl-1 col-lg-1  text-center icono">
            <img src="/app/graduacion2021/assets/img/iconos-orden/icono 1-01.png" alt="">
        </div>
        <div class="col-11 texto">
            Bienvenida y presentación de las autoridades de IEXE Universidad
        </div>
        <div class="col-12 col-md-1 col-sm-1 col-xl-1 col-lg-1 text-center icono">
            <img src="/app/graduacion2021/assets/img/iconos-orden/icono 2 y 3-01.png" alt="">
        </div>
        <div class="col-11 texto">
            Discurso del Rector de IEXE Universidad, Mtro. Julio Franco Corzo
        </div>
      
        <div class="col-12 col-md-1 col-sm-1 col-xl-1 col-lg-1  text-center icono">
            <img src="/app/graduacion2021/assets/img/iconos-orden/icono 4-01.png" alt="">
        </div>
        <div class="col-11 texto">
           Palabras del representante del cuerpo de alumnos
        </div>
        <div class="col-12 col-md-1 col-sm-1 col-xl-1 col-lg-1  text-center icono">
            <img src="/app/graduacion2021/assets/img/iconos-orden/icono 5 y 7-01.png" alt="">
        </div>
        <div class="col-11 texto">
           Presentación y honores a los graduados en:
           <ul>
               <li>Maestría en seguridad Pública y Políticas Públicas</li>
               <li>Maestría en Evaluación y Políticas Públicas</li>
           </ul>
        </div>
        <div class="col-12 col-md-1 col-sm-1 col-xl-1 col-lg-1  text-center icono">
            <img src="/app/graduacion2021/assets/img/iconos-orden/icono 6-01.png" alt="">
        </div>
        <div class="col-11 texto">
            Presentación de la Orquesta Esperanza Azteca por el director Julio Saldaña
        </div>
        <div class="col-12 col-md-1 col-sm-1 col-xl-1 col-lg-1  text-center icono">
            <img src="/app/graduacion2021/assets/img/iconos-orden/icono 5 y 7-01.png" alt="">
        </div>
        <div class="col-11 texto">
           Presentación y honores a los graduados en:
           <ul>
               <li>Maestría en Administración  y Políticas Públicas</li>
               <li>Maestría en Finanzas Públicas</li>
               <li>Maestría en Administración de Negocios</li>
           </ul>
        </div>
        <div class="col-12 col-md-1 col-sm-1 col-xl-1 col-lg-1  text-center icono">
            <img src="/app/graduacion2021/assets/img/iconos-orden/icono 8-01.png" alt="">
        </div>
        <div class="col-11 texto">
           Toma de Protesta
        </div>
        <div class="col-12 col-md-1 col-sm-1 col-xl-1 col-lg-1  text-center icono">
            <img src="/app/graduacion2021/assets/img/iconos-orden/icono 9-01.png" alt="">
        </div>
        <div class="col-11 texto">
           Clausura del Programa
        </div>
    </div>
</div>