@import '../../../styles.scss';

.banner{
    //background: transparent url('/app/graduacion2021/assets/img/banner/2.jpg') center center no-repeat;
    background: transparent url('/app/graduacion2021/assets/img/banner/banner_6_F.png') center center no-repeat;
    background-size: contain;
    @media (max-width: 768px) {
        background-size: cover;
        }

}
.raya{
    width: 100px;
    position: relative;
    bottom: 1px;
    left:4.5%;
    height: 2px;
    background: map-get($colors, blue_iexe);
    transform: translateX(-50%);
    margin-bottom: 10px;
}
