<div class="banner">
    <div class="conta">
        <div class="titulo">Preguntas <br> <span class="blue">frecuentes</span>
        </div>

        <span class="ray"></span>
    </div>

</div>


<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
           <h3>¿Dónde se transmitirá o se podrá visualizar la ceremonia de graduación?</h3>
           <div class="raya"></div>
        </div>
        <div class="col-12 ">
            <p class="gb">
              La transmisión será a través de la cuenta oficial de IEXE Universidad en YouTube y será retransmitida
              en la cuenta de Facebook de la Universidad ¡invita a tus familiares y amigos!
            </p>
        </div>
        <div class="col-12 mt-5">
            <h3>¿Tiene algún costo el acceso a la ceremonia?</h3>
            <div class="raya"></div>
        </div>
        <div class="col-12 ">
            <p class="gb">
                Ninguno, es totalmente gratuito
            </p>
        </div>
        <div class="col-12 mt-5">
            <h3>¿Requiero usuario y contraseña para poder entrar a la ceremonia?</h3>
            <div class="raya"></div>
        </div>
        <div class="col-12 ">
            <p class="gb">
                ¡Tendrás un acceso especial como egresado!
            </p>
            <p class="gb">

              En días previos a la graduación se te enviará un link de ZOOM que te dará acceso para participar en la toma de protesta y en la
              dinámica de graduación.
              Recuerda decirles a tus familiares y amigos que sigan la transmisión través de Facebook y YouTube.
            </p>
        </div>
        <div class="col-12 mt-5">
            <h3>¿Con quién me puedo contactar si tengo problemas técnicos para ingresar a la ceremonia?</h3>
            <div class="raya"></div>
        </div>
        <div class="col-12 ">
            <p class="gb">
                Informa a tu hostess, en caso de que no puedas ingresar a la página, un equipo de soporte técnico estará atento ante cualquier situación.
            </p>
        </div>
        <div class="col-12 mt-5">
            <h3>¿Debo rentar toga y birrete?</h3>
            <div class="raya"></div>
        </div>
        <div class="col-12 ">
            <p class="gb">
                No es necesario, solo apegarse al código de vestimenta indicado en la invitación (o en la sección Datos de la Graduación)
            </p>
        </div>

        <div class="col-12 mt-5">
            <h3>¿Habrá alguna prueba de conexión previo a la ceremonia?</h3>
            <div class="raya"></div>
        </div>
        <div class="col-12 ">
            <p class="gb">
                El acceso a la ceremonia se realizará 15 minutos antes del evento, a fin de que puedas comprobar tu conexión.
            </p>
        </div>
        <div class="col-12 mt-5">
            <h3>¿Requiero de algún espacio específico para conectarme a la transmisión?</h3>
            <div class="raya"></div>
        </div>
        <div class="col-12">
            <p class="gb">
                Puedes arreglar el lugar en donde tomarás protesta, con globos, letreros y motivos de celebración a tu gusto.
Seleccionar un lugar cómodo y confortable en casa donde recibirás la transmisión de la graduación IEXE 2021.
            </p>
        </div>
        <div class="col-12 mt-5">
            <h3>¿Se realizará entrega de documentos oficiales antes del evento?</h3>
            <div class="raya"></div>
        </div>
        <div class="col-12 ">
            <p class="gb">
              La ceremonia de graduación es solamente un acto protocolario, si tienes dudas sobre tu trámite de titulación,
              comunícate a la coordinación de Servicios Escolares, te brindamos el número para llamadas o mensajes vía
              Whatsapp 222 710 7328, el horario de atención es de lunes a viernes de 9:00a 14:00 hrs. y de 15:00 a 18:00 hrs.
            </p>
        </div>

    </div>
</div>
