@import '../../../styles.scss';

.banner{
    //background: transparent url('/app/graduacion2021/assets/img/banner/2.jpg') center center no-repeat;
    background: transparent url('/app/graduacion2021/assets/img/banner/banner_3_F.png') center center no-repeat;
    background-size: contain;
    @media (max-width: 768px) {
        background-size: cover;
        }

}

.susubtitle{
    font-family: map-get($fonts,gotam );
    color:#fff;
    display: block;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
}
.raya{
    width: 50%;
    position: relative;
    bottom: 1px;
    left:50%;
    height: 2px;
    background: map-get($colors, blue_iexe);
    transform: translateX(-50%);

}
.misbi{
    font-family: map-get($fonts,base );
    color:#fff;
    display: block;
    font-size: 17px;
}
.misbit{
    font-family: map-get($fonts,base );
    color:#fff;
    display: block;
    font-size: 14px;
}
.insd{
    color:#fff;
    font-size: 40px;
}
.rayh{
    position: absolute;
    right: 1px;
    height: 100%;
    width: 2px;
    background: #FEB238;
    top: 0;
}
p{
    text-align: center;
}

.conte{

    padding: 15px 30px;
    cursor: pointer;
    & a{
        border:1px solid map-get($colors, blue_iexe);
        background: map-get($colors, blue_iexe);
        color:map-get($colors, principal);
        border-radius: 15px;
        text-align: center;
        text-decoration: none;
        padding: 15px 30px;
    }

}

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000,0.5);
    z-index: 10000;
    & .container-fluid{
        height: 100vh;
        & .card{
            background-color:map-get($colors, principal);
            border: 1px solid map-get($colors, blue_iexe );
            min-width: 500px;
            & .titulod{
                font-size: 25px;
                font-family: map-get($fonts, gotam );
                line-height: 1;
                text-align: center;
                display: block;width: 100%;
                text-transform:capitalize !important;
            }
            & ul{
                list-style: none;
                margin-top: 20px;
                height: 400px;
                overflow: auto;
                /* width */
                  &::-webkit-scrollbar {
                        width: 3px;
                    }

                    /* Track */
                   &::-webkit-scrollbar-track {
                        background: #000;
                    }

                    /* Handle */
                    &::-webkit-scrollbar-thumb {
                        background: #888;
                    }

                    /* Handle on hover */
                    &::-webkit-scrollbar-thumb:hover {
                        background: #555;
                    }
                & li{
                    font-size: 18px;
                    font-family: map-get($fonts, gotam );
                    color:#fff;
                    text-align: center;

                }
            }
        }
        & .material-icons{
            color: rgb(94, 92, 92);
            cursor: pointer;
        }
    }
}
