@import '../../../styles.scss';

.banner{
     //background: transparent url('/app/graduacion2021/assets/img/banner/1.jpg') center center no-repeat;
  background: transparent url('/app/graduacion2021/assets/img/banner/1.jpg') center center no-repeat;
  background-size: contain;
  @media (max-width: 768px) {
    background-size: cover;
    }
}
.bgt{
  font-size: 18px;
}

.conty{
  display: flex;
  justify-content: end;
  align-items: center;
  @media (max-width: 768px) {
    justify-content: center;
    margin-bottom:20px ;
    }
    & .title{
      font-size: 25px;
      font-family: map-get($fonts, gotam );
      color: #fff;
      line-height: 1;
      display: block;
      text-align: right;
      width: 100%;
      @media (max-width: 768px) {
        text-align: center;
        }
    }
}