<div class="banner">
    <div class="conta">
        <div class="titulo">
          Bienvenidos al evento más importante de  <span class="blue">IEXE Universidad</span>
        </div>
        <span class="ray" ></span>
    </div>

</div>
<div class="container p-b-70">
    <div class="row p-t-50 p-b-20">
        <div class="col-12 col-md-4 col-lg-4 col-xl-4  p-r-70 conty" >
            <span class="title"  >
              Apreciable
                <br>
              Graduado</span>
              <span class="raydiv"></span>
        </div>
        <div class="col-12 col-md-6 col-lg-6 col-xl-6 conttet">
            <p class="gb bgt">
              ¡Bienvenidas y bienvenidos a la ceremonia de
              graduación 2021 de IEXE Universidad!
            </p>
            <p class="gb mt-4">
              Apreciable graduada y graduado
            </p>
            <p class="gb ">


              Hoy cierra una de las etapas más importantes de su vida, la culminación de sus estudios; a lo largo

              de estos años, ustedes, nuestras graduadas y graduados se han esforzado y experimentado diversas emociones que se han encauzado para alcanzar esta meta.

              Las y los colaboradores de IEXE Universidad, docentes y administrativos, nos alegra haber formado parte de su crecimiento académico y profesional, por ello, les invitamos a celebrar este logro,

              a través de una ceremonia virtual en compañía de sus familiares y amigos.

            </p>
            <p  class="gb mt-4">
              <strong>¡Felicidades!</strong>
            </p>
        </div>
    </div>
</div>
