<div class="container-fluid d-sm-block  d-md-none d-lg-none d-xl-none mt-3">
    <div class="row d-flex align-items-center">
        <div class="col-6 ">
            <a target="_blank" href="https://www.iexe.edu.mx/">
                <img src="assets/img/iexe.png" class="img-responsive  logomovil" alt="">
            </a>
        </div>
        <div class="col-6 text-right icon_menu"  >
            <span (click)="openmenu()" class="material-icons">
                view_headline
                </span>
        </div>
    </div>
</div>

<div  class="container-fluid  d-none d-sm-none  d-md-block d-lg-block d-xl-block" >
    <div class="row menucontented d-flex align-items-center">
        <div class="col-2 text-center">
            <a target="_blank" href="https://www.iexe.edu.mx/">
            <img src="assets/img/iexe.png" class="img-responsive " alt="">
        </a>
        </div>
        <div class="col-8">
            <ul class="menu">
                <li><a  routerLinkActive="ac" routerLink='home'>Inicio</a></li>
                <li><a  routerLinkActive="ac"  routerLink="datosgraduacion">Datos de la Graduación</a></li>
                <li><a routerLinkActive="ac"  routerLink="nuestroorgullo">Nuestro orgullo IEXE</a></li>
                <li><a routerLinkActive="ac"  routerLink="ordendia">Orden del día</a></li>
                <li><a routerLinkActive="ac"  routerLink="revivemomento">Revive el momento</a></li>
                <li><a routerLinkActive="ac"  routerLink="preguntas">Preguntas Frecuentes</a></li>
            </ul>
        </div>

        <div class="col-1">
            <ul class="icons_redes">
                <li>
                    <a target="_blank" href="https://www.facebook.com/IEXE.Universidad">
                        <img src="assets/img/facebook-square-brands.svg" alt="">
                    </a>
                </li>
                <li>
                    <a  target="_blank" href="https://www.instagram.com/iexe_universidad/">
                        <img src="assets/img/instagram-brands.svg" alt="">
                    </a>
                </li>
                <li>
                    <a  target="_blank" href="https://www.linkedin.com/company/iexe-escuela-de-pol-ticas-p-blicas/">
                        <img src="assets/img/linkedin-brands.svg" alt="">
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>


<div [ngClass]='{"active":closemenu}' class="menu-movil d-sm-block  d-md-none d-lg-none d-xl-none">
    <div class="container-fluid">
        <div class="row pt-3">
            <div class="col-6"></div>
            <div class="col-6">
                <button (click)="openmenu()" type="button" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
            </div>
            <div class="col-12 mt-5">
              
                <ul class="list-group">
                    <li class="list-group-item"><a routerLink=''>Inicio</a></li>
                    <li class="list-group-item"><a routerLink="datosgraduacion">Datos de la Graduación</a></li>
                    <li class="list-group-item"><a routerLink="nuestroorgullo">Nuestro orgullo IEXE</a></li>
                    <li class="list-group-item"><a routerLink="ordendia">Orden del día</a></li>
                    <li class="list-group-item"><a routerLink="revivemomento">Revive el momento</a></li>
                    <li class="list-group-item"><a routerLink="preguntas">Preguntas Frecuentes</a></li>
                </ul>
            </div>
            <div class="col-12 mt-5">
                <ul class="icons_redes">
                    <li>
                        <a  target="_blank" href="https://www.facebook.com/IEXE.Universidad">
                            <img src="assets/img/facebook-square-brands.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a  target="_blank" href="https://www.instagram.com/iexe_universidad/">
                            <img src="assets/img/instagram-brands.svg" alt="">
                        </a>
                    </li>
                    <li>
                        <a  target="_blank" href="https://www.linkedin.com/company/iexe-escuela-de-pol-ticas-p-blicas/">
                            <img src="assets/img/linkedin-brands.svg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<a target="_blank" href="https://web.whatsapp.com/send?phone=525534098683&text=Hola%2C%20necesito%20informaci%C3%B3n">
<div class="botn-chat_wats">
    <span>Chat</span>
    <img src="assets/img/whatsapp-brands.svg" alt="">
</div>
</a>