<div class="banner">
    <div class="conta">

    </div>

</div>
<div class="container-fluid p-b-70">
    <div class="row p-t-50 p-b-20  rowgrn" >
        <div class="col-12 col-md-4 col-xl-4 col-lg-4 mt-3 conttext">
            <div class="cont">
                <span class="susubtitle mt-5">
                    Indicaciones
                </span>
                <br>
                <div class="raya"></div>
                <div class="row">
                    <div class="col-6 text-right">
                        <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/indicaciones fecha-01.png" class="insd"
                            alt="">

                        <div class="rayh"></div>
                    </div>
                    <div class="col-6">
                        <span class="misbi">
                            Fecha
                        </span>
                        <span class="misbit">
                          04 de diciembre de 2021
                        </span>
                    </div>

                </div>
                <div class="row m-t-50">
                    <div class="col-6 text-right">
                        <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/indicaciones acceso-01.png" class="insd"
                            alt="">
                        <div class="rayh"></div>
                    </div>
                    <div class="col-6">
                        <span class="misbi">
                            Acceso
                        </span>
                        <span class="misbit">
                            4:45 pm
                        </span>
                    </div>


                </div>
                <div class="row m-t-50">
                    <div class="col-6 text-right">
                        <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/indicaciones inicio-01.png" class="insd"
                            alt="">
                        <div class="rayh"></div>
                    </div>
                    <div class="col-6">
                        <span class="misbi">
                            Inicio
                        </span>
                        <span class="misbit">
                            5:00 pm
                        </span>
                    </div>


                </div>
                <div class="row m-t-50">
                    <div class="col-6 text-right">
                        <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/indicaciones transmision-01.png" class="insd"
                            alt="">
                        <div class="rayh"></div>
                    </div>
                    <div class="col-6">
                        <span class="misbi">
                            Transmisión
                        </span>
                        <span class="misbit mt-3">

                            <a target="_blank" href="https://www.youtube.com/c/IexeEduMx">YouTube</a>

                        </span>
                        <div class="misbit mt-3">

                            <a target="_blank" href="https://www.facebook.com/IEXE.Universidad">Facebook</a>
                        </div>
                    </div>


                </div>
                <div class="row m-t-50">
                    <div class="col-6 text-right">
                        <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/indicaciones acceso zoom-01.png" class="insd"
                            alt="">
                        <div class="rayh"></div>
                    </div>
                    <div class="col-6">
                        <span class="misbi">
                            Acceso
                        </span>
                        <span class="misbit">
                            Zoom
                        </span>

                    </div>


                </div>
                <div class="row m-t-50 d-flex align-items-center">
                  <div class="col-6 text-right">
                      <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/requisitos de conexion 1-01.png" class="insd"
                          alt="">
                      <div class="rayh"></div>
                  </div>
                  <div class="col-6">

                      <span class="misbit">
                          Conectarse al menos 15 min antes del evento.
                      </span>
                  </div>

              </div>

            </div>

        </div>
        <div class="col-12 col-md-4 col-xl-4 col-lg-4 mt-3 conttext">
            <div class="cont">
                <span class="susubtitle">
                    Código de
                </span>
                <span class="susubtitle ">
                    vestimenta
                </span>
                <br>
                <div class="raya"></div>
                <p class="text-justify misbi">
                    Es un evento de gala por lo que se
                    recomienda vestir con ropa formal:
                </p>
                <div class="row m-t-50 ">
                    <div class="col-6 text-right">
                        <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/codigo de vestimenta-01.png" class="insd"
                        alt="">
                    <div class="rayh"></div>
                    </div>
                    <div class="col-6 ">
                        <span class="misbi">
                            Hombres
                        </span>
                        <div class="misbit mt-3">

                            Traje sastre
                        </div>
                        <div class="misbit">
                            Corbata
                        </div>
                        <div class="misbit">
                            Barba y bigote arreglados
                        </div>
                    </div>
                    <div class="col-6 text-right mt-5">

                            <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/codigo de vestimenta-01.png" class="insd"
                            alt="">
                        <div class="rayh"></div>
                    </div>
                    <div class="col-6 mt-3 mt-5">

                        <span class="misbi">
                            Mujeres

                        </span>
                        <div class="misbit mt-3">

                            Traje sastre o vestido
                        </div>


                    </div>
                    <div class="col-6 text-right mt-5">
                        <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/codigo de vestimenta restricciones-01.png" class="insd"
                            alt="">
                        <div class="rayh"></div>
                    </div>
                    <div class="col-6 mt-3 mt-5">

                        <span class="misbi">
                            Restricciones

                        </span>
                        <div class="misbit mt-3">

                            No usar playeras
                        </div>
                        <div class="misbit mt-3">

                            No usar camisas con estampados
                        </div>
                        <div class="misbit mt-3">

                            No usar vestido toples
                        </div>
                        <div class="misbit mt-3">

                            No usar gorra o algún accesorio que cubra
                        </div>
                        <div class="misbit ">

                            total o parcialmente la cara
                        </div>


                    </div>
                </div>

            </div>

        </div>
        <div class="col-12 col-md-4 col-xl-4 col-lg-4 mt-3 conttext">
            <div class="cont">
                <span class="susubtitle">
                    Especificaciones

                </span>
                <span class="susubtitle">

                    técnicas
                </span>
                <br>
                <div class="raya"></div>
                <div class="row m-t-50 d-flex align-items-center">
                  <div class="col-6 text-right">
                      <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/requisitos de conexion 1-01.png" class="insd"
                          alt="">
                      <div class="rayh"></div>
                  </div>
                  <div class="col-6">

                      <span class="misbit">
                          Conectarse al menos 15 min antes del evento.
                      </span>
                  </div>

              </div>
                <div class="row m-t-50 d-flex align-items-center">
                    <div class="col-6 text-right">

                            <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/requisitos de conexion 2-01.png" class="insd"
                            alt="">
                        <div class="rayh"></div>
                    </div>
                    <div class="col-6">

                        <span class="misbit">
                          Contar con conexión estable a
                          internet (mínimo 10 megas), preferentemente alámbrica.
                        </span>
                    </div>

                </div>
                <div class="row m-t-50 d-flex align-items-center">
                    <div class="col-6 text-right">
                        <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/requisitos de conexion 3-01.png" class="insd"
                            alt="">
                        <div class="rayh"></div>
                    </div>
                    <div class="col-6">
                        <span class="misbit">
                          El dispositivo para la conexión en
                          zoom deberá contar con cámara.
                        </span>
                    </div>

                </div>
                <div class="row m-t-50 d-flex align-items-center">
                    <div class="col-6 text-right">
                        <img src="/app/graduacion2021/assets/img/iconos datos-graduacion/requisitosdeconexion4-01.png" class="insd"
                            alt="">
                        <div class="rayh"></div>
                    </div>
                    <div class="col-6">
                        <span class="misbit">
                          Evitar tener varios dispositivos
                          enlazados a una red wifi o internet.
                        </span>
                    </div>

                </div>
                <div class="row m-t-50 ">
                    <div class="col-12 text-center d-flex justify-content-center">
                        <a class="btnd" target="_blank"
                            href="/app/graduacion2021/assets/Requisitos_para_reunion_Zoom_Youtube_Facebook.pdf">Especificaciones
                            técnicas</a>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
