
<div class="banner">
    <div class="conta">
        <div class="titulo">Revive el <span class="blue">momento</span> </div>


        <span class="ray"></span>
    </div>

</div>
<div class="container m-t-100 m-b-100">
    <div class="row">
        <div class="col-12 ">
            <p class="gb">
                En esta sección encontrarás todos los <strong>momentos IEXE que se vivieron en la
                Graduación </strong>y podrás revivir el momento a través del vídeo de la ceremonia,
                que se publicará posterior a la celebración.
            </p>

        </div>

    </div>
</div>
<!--
<div class="container">
    <div class="row">
        <div class="col-12 col-md-5 col-xl-5 col-lg-5 mt-5">
            <span class="susubtitle">Galeria</span>
            <br>
            <div class="raya"></div>
            <div class="row p-5">
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-2 text-center"><img class="img-fluid" src="/app/graduacion2021/assets/img/galeria/1.png" alt=""></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-2 text-center"><img class="img-fluid" src="/app/graduacion2021/assets/img/galeria/2.png" alt=""></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-2 text-center"><img  class="img-fluid" src="/app/graduacion2021/assets/img/galeria/3.png" alt=""></div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 mt-2 text-center"><img class="img-fluid" src="/app/graduacion2021/assets/img/galeria/4.png" alt=""></div>
                <div class="col-12 text-center mt-4">
                    <div class="btn btn-secondary">Ver más</div>
                </div>
            </div>

        </div>
        <div class="col-1"></div>
        <div class="col-12 col-md-6 col-xl-6 col-lg-6 mt-5">
            <span class="susubtitle">Ceremonia</span>
            <br>
            <div class="raya"></div>
            <div class="row">
                <div class="col-12" ><img  class="img-fluid"src="/app/graduacion2021/assets/img/galeria/youtube.png" alt=""></div>
            </div>
        </div>
    </div>
</div>
-->
